mat-sidenav{
    background-color: #0f172a;
    width:240px;
    height:100%;
    
}
mat-sidenav-content{
    height:100vh;
    background-color: white;
    
   
}
.main{
    margin-left: 30px;
}


input[type="search"]{
    background-color: transparent;
    border-color:none;
}

mat-toolbar{
    
    justify-content: space-between;
}
mat-icon{
    margin-left: 15px;
    color: gray;
}

.box{
    margin-top: 15px;
}
.track-img{
    height:55px;
    width:55px;

}

.album-name{
    margin-top: -5px;
    color:white;
    font-size:18px;
}

.badge-ele{
    font-weight: lighter;
    margin-right: 8px;
    font-size:12px;
    padding:6px;
}

input
{
    border:none;
    outline: none;
    box-shadow: none;
    width: 100%;
}

.input-field{
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgb(25, 163, 179);
    color:#4343ff;
}

