

<nav class="navbar navbar-expand-lg bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" style=" color: #d0b200;" href="#"><img src="https://cdn.jim-nielsen.com/ios/512/apple-music-2018-04-25.png" class="nav-icon" height="50px" width="50px"/>
          <span class="nav-item">M</span>uzix</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          
          <li class="nav-item">
              <a class="nav-link" id="nav-menu-color" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" id="nav-menu-color" routerLink="/signup">SignUp</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
<div class="container-fluid">
    <div class="row">
        <div class=" col-12 music-banner-image text-center d-flex flex-column justify-content-center">
            <h1 class="banner-heading  pt-2 pb-2"> Enjoy Music Anytime</h1>
            
            <div>
                
                <button class="btn  banner-outline-button-2" routerLink="/login">Get Started</button>
            </div>
        </div>
    </div>
</div>