<div class="container-fluid   p-4">
    <h1 class="user-welcome">Welcome User</h1>
    <div>
    <h2 class="side-headings">Recomanded </h2>
    <div class="d-flex flex-row d-wrap">
        
        <mat-card class="p-0 m-3">
            <img src="https://res.cloudinary.com/bbj8735/image/upload/v1667570757/muzix/brahmastra%20movie/brahmastra_qfl47j.jpg" class="card-img"/>
            <div class="card-text-align">
                <mat-card-title class="title">
                    <h1 class="album-name">Brahmastra</h1>
                  </mat-card-title>
                <!--  <mat-card-content class="songname">
                      <p>Kaisariya</p>
                  </mat-card-content> -->
            </div>
            
          </mat-card>
          

    <mat-card class="p-0 m-3">
        <img src="https://res.cloudinary.com/bbj8735/image/upload/v1667570757/muzix/brahmastra%20movie/brahmastra_qfl47j.jpg" class="card-img"/>
        <div class="card-text-align">
            <mat-card-title class="title">
                <h1 class="album-name">Brahmastra</h1>
              </mat-card-title>
            <!--  <mat-card-content class="songname">
                  <p>Kaisariya</p>
              </mat-card-content> -->
        </div>
        
      </mat-card>
</div>



<h2 class="side-headings mt-4">To you get started</h2>
<div class="d-flex flex-row text-wrap">
    <mat-card class="p-0 m-3">
        <img src="https://res.cloudinary.com/bbj8735/image/upload/v1667570757/muzix/brahmastra%20movie/brahmastra_qfl47j.jpg" class="card-img"/>
        <div class="card-text-align">
            <mat-card-title class="title">
                <h1 class="album-name">Brahmastra</h1>
              </mat-card-title>
            <!--  <mat-card-content class="songname">
                  <p>Kaisariya</p>
              </mat-card-content> -->
        </div>
        
      </mat-card>
    
</div>


    <h2 class="side-headings mt-4">To you get started</h2>
    <div class="d-flex flex-row text-wrap">
        <mat-card class="p-0 m-3">
            <img src="https://res.cloudinary.com/bbj8735/image/upload/v1667570757/muzix/brahmastra%20movie/brahmastra_qfl47j.jpg" class="card-img"/>
            <div class="card-text-align">
                <mat-card-title class="title">
                    <h1 class="album-name">Brahmastra</h1>
                  </mat-card-title>
                <!--  <mat-card-content class="songname">
                      <p>Kaisariya</p>
                  </mat-card-content> -->
            </div>
            
          </mat-card>
          <mat-card class="p-0 m-3">
            <img src="https://res.cloudinary.com/bbj8735/image/upload/v1667570757/muzix/brahmastra%20movie/brahmastra_qfl47j.jpg" class="card-img"/>
            <div class="card-text-align">
                <mat-card-title class="title">
                    <h1 class="album-name">Brahmastra</h1>
                  </mat-card-title>
                <!--  <mat-card-content class="songname">
                      <p>Kaisariya</p>
                  </mat-card-content> -->
            </div>
            
          </mat-card>
          <mat-card class="p-0 m-3">
            <img src="https://res.cloudinary.com/bbj8735/image/upload/v1667570757/muzix/brahmastra%20movie/brahmastra_qfl47j.jpg" class="card-img"/>
            <div class="card-text-align">
                <mat-card-title class="title">
                    <h1 class="album-name">Brahmastra</h1>
                  </mat-card-title>
                <!--  <mat-card-content class="songname">
                      <p>Kaisariya</p>
                  </mat-card-content> -->
            </div>
            
          </mat-card>
        
    </div>

</div>
</div>